# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django
*.sqlite3
staticfiles/
mediafiles/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
